@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --cor-preto: #111111;
    --cor-branco: #f9f9f9;
    --cor-vermelho: rgb(189, 32, 32);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-amarelo);
}

nav {
    display: flex;
    justify-content: space-between;
}

header nav div {
    margin: 30px 20px;
    flex-wrap: nowrap;
}

.header-item {
    margin: 0 50px;
    text-decoration: none;
    color: var(--cor-verde);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
}

#logo {
    height: 80px;
    width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    position: relative;
}

#slide-show {
    position: relative;
}

#product-title {
    color: var(--cor-vermelho);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 350px;
    z-index: 2;
}

#product-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 800px;
    height: 600px;
    padding-bottom: 100px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}
